<div class="user-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
  <div fxLayout="row" fxFlex fxLayoutGap="25px">
    <div class="user-rank">
      {{user.rank}}
    </div>
    <div class="user-name">
      {{user.username}}
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="25px">
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value expected-value">
        <percentage-label [percentage]="user.returnPercentage"></percentage-label>
      </div>
      <div class="performance-labels">
        Return
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="price-box">
        {{user.totalAmount | currency}}
        <br/>
        <span style="font-size:8px">
          Total
        </span>
      </div>
    </div>
  </div>
</div>