<form #portfolioRegisterForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="row">
  <div class="portfolio-card" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="portfolio-summary">
      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="32px" class="portfolio-input">
          <div fxLayout="column" fxFlex="90">
            <span class="risk-description bold" *ngIf="!model.isEditing">{{model.name}}</span>
            <mat-form-field [floatLabel]="'always'" fxFlexOffset="25px" *ngIf="model.isEditing">
              <input type="text" placeholder="Portfolio Name" matInput name="Name" [(ngModel)]="model.name" required>
            </mat-form-field>
          </div>
        </div>
        <span class="products-details">
          <span *ngIf="!model.projectionValue">No products registered</span>
          <span *ngIf="model.projectionValue">
            Expected Return: {{model.projectionValue}}% | {{assetsDistributionRows.length}}
            <span *ngIf="assetsDistributionRows.length == 1">asset</span>
            <span *ngIf="assetsDistributionRows.length != 1">assets</span>
          </span>
        </span>
      </div>
      <div class="button" fxFlex>
        <button typeof="submit" [disabled]="!portfolioRegisterForm.form.valid || anyEmptyRow()" *ngIf="!model.id || this.model.isEditing"
                class="step-save-button rectangle-blue-button" fxLayout="row" fxLayoutAlign="none center" [promiseBtn]="savePromise">
          <i-save></i-save>
          <span class="button-text bold"> SAVE</span>
        </button>
        <div *ngIf="model.id && !this.model.isEditing" class="step-edit-button rectangle-white-button" (click)="editPortfolio()"
             fxLayout="row" fxLayoutAlign="none center" [promiseBtn]="savePromise">
          <i-edit></i-edit>
          <span class="button-text bold"> EDIT</span>
        </div>
      </div>
    </div>
    <div [hidden]="model.id && !this.model.isEditing" class="portfolio-edition">
      <div fxLayout="row" fxLayoutGap="32px" class="portfolio-input">
        <div fxLayout="column" fxFlex="100">
          <mat-form-field [floatLabel]="'always'" fxFlexOffset="25px">
            <textarea type="text" placeholder="Description" matAutosizeMinRows="1" matAutosizeMaxRows="3" matInput name="Description"
                      [(ngModel)]="model.description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="portfolio-edition-title">Portfolio allocation</div>
      <div *ngIf="!assets" fxLayout="row" fxLayoutGap="16px">
        <loading-block class="loading-card" *ngIf="!portfolios" width="270" [height]="38"></loading-block>
        <loading-block class="loading-card" *ngIf="!portfolios" width="70" [height]="38"></loading-block>
      </div>
      <div *ngIf="assets">
        <portfolio-distribution-row *ngFor="let assetDistribution of assetsDistributionRows; let i = index" [rowNumber]="i" [assetDistribution]="assetDistribution"
                                    [availableAssets]="currentAvailableAssets(assetDistribution)" [disableRemoveButton]="assetsDistributionRows.length <= 1"
                                    [showAddButton]="(i+1) == assetsDistributionRows.length && assetsDistributionRows.length < assets.length" [formGroup]="portfolioRegisterForm.control"
                                    (addNewRow)="addNewRow(i)" (removeRow)="!(assetsDistributionRows.length <= 1) && removeRow(i)" (assetDistributionChanged)="onAssetDistributionChanged($event, i)"
                                    (onAddFormControls)="addFormControls(i, $event)" (onRemoveFormControls)="removeFormControls(i)"></portfolio-distribution-row>
        <div class="total-percentage" [class.success]="this.totalDistributionPercentage == 100" [class.error]="this.totalDistributionPercentage != 100"
             fxLayout="row" fxLayoutAlign="none center">
          <div fxLayout="row" fxFlex="68" fxLayoutAlign="none center">
            <i-alert-triangle class="icon" *ngIf="this.totalDistributionPercentage != 100"></i-alert-triangle>
            <i-check class="icon" *ngIf="this.totalDistributionPercentage == 100"></i-check>
            <div class="total-label" fxLayout="column">
              <input name="TotalPercentage" [(ngModel)]="totalDistributionPercentage" [formControl]="totalPercentageForm" hidden />
              <span>Total</span>
              <span class="error-message" *ngIf="totalPercentageForm.hasError('min')">
                The total is lower than 100%
              </span>
              <span class="error-message" *ngIf="totalPercentageForm.hasError('max')">
                The total is greater than 100%
              </span>
            </div>
          </div>
          <div fxFlex="16" class="total-percentage-value">{{this.totalDistributionPercentage}}%</div>
        </div>
      </div>
      <div class="button-bottom-line" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between center">
        <div class="portfolio-input" fxFlex="80">
          
        </div>
        <div class="button" fxFlex>
          <button typeof="submit" [disabled]="!portfolioRegisterForm.form.valid || anyEmptyRow()" *ngIf="!model.id || this.model.isEditing"
                  class="step-save-button rectangle-blue-button" fxLayout="row" fxLayoutAlign="none center" [promiseBtn]="savePromise">
            <i-save></i-save>
            <span class="button-text bold"> SAVE</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
