.portfolio-card {
  width: 504px;
  max-width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e9eff4;
}

.portfolio-summary, .portfolio-edition {
  padding-left: 32px;
  padding-right: 32px;
}

.risk-description {
  font-size: 20px;
  color: #4a90e2;
  margin-top: 12px;
}

.products-details {
  margin-top: 2px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.5;
  color: #55606e;
}

.portfolio-edition {
  border-top: solid 1px #e9eff4;
  margin-bottom: 24px;
}

.portfolio-edition-subtitle {
  font-size: 12px;
  line-height: 1.5;
  color: #55606e;
  margin-bottom: 24px;
}

.portfolio-edition-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #4a4a4a;
}


/deep/ .portfolio-card .mat-form-field-subscript-wrapper,
/deep/ .portfolio-card .mat-form-field-underline {
  display: none;
}

/deep/ .portfolio-card .mat-form-field-infix {
  border: unset;
  width: unset;
}

/deep/ .asset-selection .mat-input-infix.mat-form-field-infix {
  position: relative;
  top: -5px;
}

/deep/ .portfolio-card .asset-selection .mat-form-field-suffix {
  position: relative;
  top: 2px;
}

/deep/ .portfolio-card .percentage-value .mat-form-field-suffix {
  top: -1px;
  position: relative;
}

/deep/ .portfolio-card .mat-form-field-wrapper {
  border-radius: 3px;
  background-color: #f3f5f8;
  padding: 3px 12px 3px 12px;
  height: 30px;
  flex: 1 1 100%;
}

/deep/ .mat-form-field-wrapper {
  padding-bottom: 0px;
}

/deep/ .expected-returns .mat-form-field-label-wrapper {
  left: -12px;
  top: -26px;
  min-width: 80px;
  color: #55606e;
}

.expected-returns label {
  font-size: 12px;
  color: #55606e;
  margin-bottom: 8px;
}

.percentage-input {
  text-align: right;
}

.total-percentage {
  border-top: solid 1px #e9eff4;
  padding-top: 16px;
  margin-top: 8px;
}

  .total-percentage.error {
    color: #f85843;
  }

  .total-percentage.success {
    color: #4a90e2;
  }

  .total-percentage .icon{
    height:24px;
  }

.total-percentage-value {
  padding-right: 10px;
  text-align: right;
}

.total-label {
  margin-left: 15px;
}

  .total-label .error-message {
    font-size: 10px;
  }
