<header></header>
<div fxLayout="column" class="main-content">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="80px" fxLayoutMargin fxLayoutGap.sm="20px" fxLayoutGap.xs="20px"
    fxFlex="55">
    <div fxLayout="row" fxLayoutGap="100px">
      <div fxLayout="column">
        <h1 class="bold">Welcome to Auctus Alpha Platform</h1>
        <h3>
          The first release of our platform, Auctus Alpha, focuses on limited use cases: Robo and Human advisor portfolio recommendations.
          <br/> 
          <br/> 
          It enables you to get a personalized portfolio based on your goals from our robo-advisor.
          And also to find and follow the best performing portfolios with traditional and cryptocurrency assets made by
          financial experts.
        </h3>
      </div>
    </div>
    <div fxLayout="column" class="requirements-itens" fxFlex="45" fxLayoutGap="40px">
      <div fxLayout="row" *ngFor="let condition of conditions" fxLayoutGap="16px" fxLayoutAlign=" center">
        <div class="status" [ngClass]="{'status-ok': condition.status}">
          <i-x *ngIf="!condition.status"></i-x>
          <i-check *ngIf="condition.status"></i-check>
        </div>
        <div>{{condition.message}}
          <br>
        </div>
      </div>
      <div class="faucet-button-wrapper">
        <button *ngIf="onlyAucConditionPending() && !transactionUrl" (click)="callFaucet()" class="action-button" [promiseBtn]="promise">
          Get free rinkeby AUC for test
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="transactionUrl" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
    <span>Transaction created. Waiting for it to be mined. Check it
      <a [attr.href]="transactionUrl" target="_blank">here</a>.</span>
    <mat-spinner [mode]="indeterminate" [diameter]="20" [color]="primary"></mat-spinner>
  </div>
</div>