<header></header>
<div fxLayout="column" class="main-content">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="80px" fxLayoutMargin fxLayoutGap.sm="20px" fxLayoutGap.xs="20px" fxFlex="55">
    <div fxLayout="row" fxLayoutGap="100px">
      <div fxLayout="column">
        <h1 class="bold">How do you imagine your life in the future?</h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lectus lobortis augue lobortis vulputate. Nunc venenatis
          venenatis aliquet. Nam ut pulvinar augue. Sed dignissim nibh vel fringilla posuere.
          <br> Te his cibo officiis. Viris volutpat ei per, no eum quidam volutpat. Sit ne solum noluisse. Tamquam aliquam temporibus
          vis cu. Vis ad summo volutpat instructior.
        </h3>
      </div>
    </div>
    <div fxLayout="column" class="requirements-itens" fxFlex="45" fxLayoutGap="40px">
        <div fxLayout="row" *ngFor="let condition of conditions" fxLayoutGap="16px" fxLayoutAlign=" center">
            <div class="status" [ngClass]="{'status-ok': condition.status}">
                <i-x *ngIf="!condition.status"></i-x>
                <i-check *ngIf="condition.status"></i-check>
            </div>
            <div>{{condition.message}}<br></div>
        </div>
        <div class="faucet-button-wrapper">
          <button *ngIf="onlyAucConditionPending()" (click)="callFaucet()" class="action-button" [promiseBtn]="promise">
            Get free rinkeby AUC for test
          </button>
        </div>
    </div>
  </div>
</div>
