<div class="portfolio-list-header">
  <header></header>
  <div class="header-text-container" fxLayout="row" *ngIf="portfolio">
    <div fxFlex>
      <h1 *ngIf="portfolio.name">{{portfolio.name}}</h1>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <div class="header-action-button" fxLayoutAlign="space-around center" (click)="deleteExchangePortfolio">DELETE PORTFOLIO</div>
    </div>
  </div>
</div>
<loading-spinner *ngIf="!portfolio"></loading-spinner>
<ng-container *ngIf="portfolio">
  <portfolio-details-tabs *ngIf="portfolio" [portfolio]="portfolio"></portfolio-details-tabs>
</ng-container>
