<div class="portfolio-list-header">
  <header></header>
  <div class="header-text-container" fxLayout="row" *ngIf="portfolio">
    <div fxFlex>
      <h1 *ngIf="portfolio.name">{{portfolio.name}}</h1>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button class="header-action-button" fxLayoutAlign="space-around center" [promiseBtn]="deletePromise" (click)="deleteExchangePortfolio()">DELETE PORTFOLIO</button>
    </div>
  </div>
</div>
<loading-spinner *ngIf="!portfolio"></loading-spinner>
<ng-container *ngIf="portfolio">
    <exchange-portfolio-details-tabs *ngIf="portfolio" [portfolio]="portfolio"></exchange-portfolio-details-tabs>
</ng-container>
