// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
  font-family: "HelveticaNeueBold";
  src: url('../assets/fonts/HelveticaNeueBold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/HelveticaNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
  url("../assets/fonts/HelveticaNeueBold.woff") format("woff"), /* Pretty Modern Browsers */
  url("../assets/fonts/HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url('../assets/fonts/HelveticaNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('/assets/fonts/HelveticaNeueMedium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelveticaNeueMedium.woff2') format('woff2'), /* Super Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.woff") format("woff"), /* Pretty Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.ttf") format("truetype"), /* Safari, Android, iOS */
  url('/assets/fonts/HelveticaNeueMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('../assets/fonts/HelveticaNeueRegular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("../assets/fonts/HelveticaNeueRegular.woff") format("woff"), /* Pretty Modern Browsers */
  url("../assets/fonts/HelveticaNeueRegular.ttf") format("truetype"), /* Safari, Android, iOS */
  url('../assets/fonts/HelveticaNeueRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
