.portfolio-card {
  width: calc(100% - 2px);
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px rgba(128, 143, 163, 0.2);
  padding: 8px;
}

.price-box {
  min-width: 80px;
  text-align: center;
  background-color: #e9eff4;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  color: #4a4a4a;
}

.portfolio-name {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}

.portfolio-description {
  font-size: 12px;
  line-height: 1.5;
  color: #55606e;
}

.performance-value {
  font-size: 16px;
  text-align: center;
  color: #4a4a4a;
}

.performance-labels {
  font-size: 9px;
  color: #808fa3;
  text-align: center;
}

.history-not-available{
  font-size: 12px;
  color: #808fa3;
  text-align: center;
  width:100%;
}

.icon-check-color{
  color: #4a90e2; 
}


.purchased-box {
  min-width: 92px;
  text-align: center;
  background-color: #e9eff4;
  border-radius: 5px;
  padding: 9px;
  color: #4a4a4a;
}