<div class="portfolio-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
  <div fxLayout="column" fxFlex>
    <div class="portfolio-name">
    {{portfolio.advisorName}}
    </div>
    <div class="portfolio-description">
      {{portfolio.name}}
    </div>
    <risk-indicator [risk]="portfolio.risk"></risk-indicator>
  </div>
  <div fxLayout="row" *ngIf="portfolio.allDays" fxFlex="280px" fxLayoutGap="40px">
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value expected-value">
        <percentage-label [percentage]="portfolio.allDays.expectedValue"></percentage-label>
      </div>
      <div class="performance-labels">
        Estimated return
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value real-return">
        <percentage-label [percentage]="portfolio.allDays.value"></percentage-label>
      </div>
      <div class="performance-labels">
        Real return
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value success-rate bold">
        {{portfolio.allDays.hitPercentage.toFixed(2)}}%
      </div>
      <div class="performance-labels">
        Success rate
      </div>
    </div> 
  </div>
  <div fxLayout="row" *ngIf="!portfolio.allDays" fxFlex="280px" fxLayoutGap="40px">
      <div class="history-not-available">Portfolio history data is not available yet.</div>
  </div>
  <div fxFlex="348px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <div class="price-box">{{portfolio.price}} AUC</div>
    <div class="action-button" (click)="onDetailsClick()">SEE DETAILS</div>
  </div>
</div>
