<div class="portfolio-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
  <div fxLayout="column" fxFlex>
    <div class="portfolio-name">
      {{portfolio.name}}
    </div>
    <div class="portfolio-description">
      {{portfolio.advisorName}}
    </div>
    <risk-indicator [risk]="portfolio.risk"></risk-indicator>
  </div>
  <div fxLayout="row" *ngIf="portfolio.allDays" fxFlex="280px" fxLayoutGap="40px">
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value expected-value">
        <percentage-label [percentage]="portfolio.allDays.expectedValue"></percentage-label>
      </div>
      <div class="performance-labels">
        Expected return
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value real-return">
        <percentage-label [percentage]="portfolio.allDays.value"></percentage-label>
      </div>
      <div class="performance-labels">
        Real return
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="performance-value success-rate bold">
        {{portfolio.allDays.hitPercentage | number:'1.0-2'}}%
      </div>
      <div class="performance-labels">
        Success rate
      </div>
    </div>
  </div>
  <div fxLayout="row" *ngIf="!portfolio.allDays" fxFlex="280px" fxLayoutGap="40px">
    <div class="history-not-available">Portfolio history data is not available yet.</div>
  </div>
  <div fxFlex="348px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <div class="price-box" *ngIf="!portfolio.purchased || portfolio.advisorType == roboAdvisorType">
      <span>
        {{portfolio.price | number :'1.0-2'}} AUC
      </span>
    </div>
    <div class="purchased-box" *ngIf="portfolio.purchased && portfolio.advisorType != roboAdvisorType ">
      <i-check-circle class="icon icon-check-color"></i-check-circle>
    </div>
    <div class="action-button" (click)="onDetailsClick()">SEE DETAILS</div>
  </div>
</div>