<div class="robo-advisors">
  <div class="portfolio-list-header">
    <header></header>
    <div class="header-text-container" fxLayout="row">
      <div fxFlex>
        <h1>Get your personalized portfolio based on your goals</h1>
        <p *ngIf="!goal">
          We need some information about your goal to get the best portfolio for your savings
        </p>
        <p *ngIf="goal">
          Our robo-advisor service provides you with a diversified portfolio of traditional and cryptocurrency assets, based on your
          risk tolerance and time horizon, making strategic adjustments to try and protect against losses and boost returns.
        </p>
      </div>
    </div>
  </div>

  <register-wizard *ngIf="!goal" (onSubmitted)="onWizardSubmitted($event)"></register-wizard>
  <ng-container *ngIf="goal">
    <div class="portfolio-list">
      <loading-spinner *ngIf="!portfolios"></loading-spinner>
      <portfolio-card *ngFor="let portfolio of portfolios" [portfolio]="portfolio" [goal]="goal"></portfolio-card>
    </div>
  </ng-container>
</div>