.positive-percentage{
    color:#4a90e2;
}

.negative-percentage{
    color:#f85843;
}

/deep/ .performance-value svg.feather{
    height: 12px;
    width: 12px
}

span{
    font-family: 'HelveticaNeueBold';
}
