<header></header>
<div fxLayout="column" class="main-content">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="120px" fxLayoutMargin fxLayoutGap.sm="20px" fxLayoutGap.xs="20px">
    <div fxLayout="row" fxLayoutGap="100px">
      <div fxLayout="column">
        <h1 class="bold">Auctus Alpha Platform</h1>
        <h3>
          The first release of our platform, Auctus Alpha, focuses on limited use cases: Robo and Human advisor portfolio recommendations.
          It enables you to get a personalized portfolio based on your goals from our robo-advisor.
          <br/> 
          <br/> 
          And also to find and follow the best performing portfolios with traditional and cryptocurrency assets made by
          financial experts.
        </h3>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="simpleRegisterForm" (ngSubmit)="onSubmit()">
          <div class="blue-box">
            <div fxLayout="row">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Wallet Address" formControlName="address" [(ngModel)]="simpleRegister.address" type="text" [readonly]=true/>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-form-field fxFlex="100">
                <input placeholder="Username" matInput [inputFocus]="true" pattern="[0-9a-zA-Z-_.]*" formControlName="username" [(ngModel)]="simpleRegister.username"
                  required>
                <mat-error *ngIf="simpleRegisterForm.controls.username.invalid">
                  {{getErrorMessage(simpleRegisterForm.controls.username)}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-form-field fxFlex="100">
                <input placeholder="Email" matInput formControlName="email" [(ngModel)]="simpleRegister.email" required>
                <mat-error *ngIf="simpleRegisterForm.controls.email.invalid">
                  {{getErrorMessage(simpleRegisterForm.controls.email)}}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Password" formControlName="password" [(ngModel)]="simpleRegister.password" required [type]="show ? 'text' : 'password' ">
                <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="simpleRegisterForm.controls.password.invalid">
                  {{getErrorMessage(simpleRegisterForm.controls.password)}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="create-account-button" fxLayout="row" fxLayoutMargin fxLayoutAlign="space-evenly center">
              <button type="submit" class="primary-blue-button bold" [disabled]="simpleRegisterForm.invalid" [promiseBtn]="createPromise">CREATE ACCOUNT</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>