<div class="eth-machine">
  <div class="maquina">
    <div class="machine">
      <div class="mach"></div>
      <div class="ondas">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="circulo"></div>
      <div class="circulo c2"></div>
      <div class="quadro"></div>
      <div class="quadro q2"></div>
      <div class="p1"><span></span></div>
      <div class="p2"><span></span></div>
      <div class="p3"><span></span></div>
      <div class="p4"><span></span></div>
    </div>
  </div>
</div>
