<nav mat-tab-nav-bar class="action-bar" disableRipple="true">
  <a mat-tab-link *ngFor="let tab of tabs; let i = index" (click)="tabClick(i)" 
     [active]="selectedTab == i">{{tab}}</a>
  

  <!--<a mat-tab-link (click)="projectionClick()" [routerLink]="['projection']"
     [routerLinkActive]="['mat-tab-link-active']"
     #rla="routerLinkActive"
     [active]="rla.isActive">Projection</a>
  <a mat-tab-link (click)="portfolioClick()" [routerLink]="['portfolio']"
     [routerLinkActive]="['mat-tab-link-active']"
     #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact: true}"
     [active]="rla.isActive">Portfolio</a>
  <a mat-tab-link (click)="historyClick()" [routerLink]="['history']"
     [routerLinkActive]="['mat-tab-link-active']"
     #rla="routerLinkActive"
     [active]="rla.isActive">History</a>-->
  <a *ngIf="!user" mat-tab-link [routerLink]="['./account/create']"
     [routerLinkActive]="['mat-tab-link-active']"
     #rla="routerLinkActive"
     [active]="rla.isActive" class="pull-right create-auctus">Create Auctus account</a>
  <div *ngIf="user" class="pull-right create-auctus">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="../change-password"> Change password </button>
      <button mat-menu-item routerLink="../manage-api"> Manage API </button>
      <button mat-menu-item (click)="logout()"> Logout </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">
      {{user}}
    </button>
  </div>
</nav>
