.action-bar {
  border-bottom: none;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
}

/deep/ .action-bar .mat-tab-links {
  background-color: #e9eff4 !important;
  padding: 0px 72px !important;
  border-bottom: none;
}

/deep/ .action-bar .mat-tab-link {
  height: 42px !important;
  text-align: left !important;
  justify-content: unset !important;
  padding: 0;
  font-size: 12px;
  color: #4a4a4a;
  opacity: unset !important;
}

/deep/ .action-bar .create-auctus.mat-tab-link {
  text-align: right !important;
  min-width: 100px;
}

/deep/ .action-bar .mat-tab-label-active {
  color: #0243b7 !important;
  font-weight: 500;
}

/deep/ .action-bar .mat-tab-link:focus {
  background-color: inherit !important;
}


/deep/ .action-bar .mat-tab-body-wrapper {
  padding: 0px 72px !important;
}


/deep/ .action-bar .mat-ink-bar {
  display: none !important;
}
