<header></header>
<div fxLayout="column" class="main-content" fxLayoutAlign="space-evenly center">
  <div *ngIf="!forgotPassword.emailSent" class="blue-box" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
      <label>Please, inform your registered email to recover your password.</label>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="forgotPassword.email" type="email" name="email" autocomplete="username email"/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <input type="button" class="primary-button bold" (click)="onSendEmailClick()" value="Recover Password" />
    </div>
  </div>
  <div *ngIf="forgotPassword.emailSent" class="blue-box" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
      <strong>Please, check your mail box.</strong>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <label class="element-margin-top">An email was sent to
        <i>{{forgotPassword.email}}</i>. Follow email instructions to reset your password.</label>
    </div>
  </div>
</div>
