.wizard-header {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 480px) {
    .wizard-header {
        padding: 50px !important;
    }
}

.wizard-header a{
    font-size: 12px;
    padding: 9 12;
    color: #4a4a4a;
    text-decoration: none;
}

.wizard-header .menu{
    padding-right: 50px;
}