<mat-toolbar class="wizard-header">
  <mat-toolbar-row>
    <span>
      <img src="../../../../assets/logo.png" class="landing-logo">
    </span>
    <span class="spacer"></span>
    <div fxHide.lt-md>
      <div class="menu" fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-around center">
        <a href="">What is Auctus</a>
        <a href="">Contact us</a>
        <a routerLink="/login">Login</a>
      </div>
    </div>
    <div fxHide.gt-sm>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item> What is Auctus </button>
        <button mat-menu-item> Contact Us </button>
        <button mat-menu-item routerLink="/login"> Login </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
