<form #periodForm="ngForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="20px">

    <div fxLayout="row">
      <h2 class="bold" fxFlex fxLayoutAlign="center center">Tell us about your goals</h2>
    </div>

    <div fxLayout="row">
      <h2 fxFlex fxLayoutAlign="center center">How many years do you plan to invest for?</h2>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" fxLayoutMargin fxLayoutAlign="space-evenly center">
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-slider class="example-margin" [invert]="false" [max]="50" [min]="0" [step]="1" [thumb-label]="true" [(ngModel)]="model.timeframe" [vertical]="false" name="timeframe" (change)="onChangeSlider()">
        </mat-slider>
        <mat-form-field>
          <input matInput placeholder="Years" [inputFocus]="true" name="Years" [(ngModel)]="model.timeframe" required>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="wizard-buttons">
      <button class="next" mat-button type="submit" [disabled]="!periodForm.form.valid"></button>
    </div>

  </div>
</form>