<form class="period-step" #periodForm="ngForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="20px">

    <div fxLayout="row">
      <h2 class="bold" fxFlex fxLayoutAlign="center center">Tell us about your goals</h2>
    </div>

    <div fxLayout="row">
      <h2 fxFlex fxLayoutAlign="center center">How many years do you plan to invest for?</h2>
    </div>

    <div fxLayout="column" fxLayoutMargin fxLayoutAlign="space-evenly center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-slider [ngClass]="{'xs' : media.isActive('xs')}" [invert]="false" [max]="50" [min]="0" [step]="1" [thumb-label]="true"
          [(ngModel)]="model.timeframe" [vertical]="false" name="timeframe" (change)="onChangeSlider()">
        </mat-slider>
        <h4 fxFlex [style.color]="'#4a90e2'">The longer the better</h4>
        <mat-form-field class="period-input">
          <input matInput [inputFocus]="true" name="Years" [(ngModel)]="model.timeframe" required>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="wizard-buttons">
      <button class="next" mat-icon-button type="submit" [disabled]="model.timeframe == 0">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

  </div>
</form>