<account-header [changePassword]="true"></account-header>

<div fxLayout="column" class="main-content" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Current password" [(ngModel)]="changePassword.currentPassword" type="password" name="currentPassword" autocomplete="current-password" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="New password" [(ngModel)]="changePassword.newPassword" type="password" name="newPassword" autocomplete="current-password" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Confirm new password" [(ngModel)]="changePassword.confirmedPassword" type="password" name="confirmedPassword" autocomplete="current-password" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <input type="button" class="primary-button bold" (click)="onChangePasswordClick()" value="Change Password" />
  </div>
</div>
