.account-header {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 480px) {
  .account-header {
    padding: 50px !important;
  }
}

.account-header a {
  font-size: 12px;
  padding: 9px 12px;
  color: #4a4a4a;
  text-decoration: none;
}

.account-header .menu {
  padding-right: 50px;
}
