<mat-toolbar class="account-header">
  <mat-toolbar-row>
    <span>
      <img src="../../../../assets/logo.png" class="landing-logo">
    </span>
    <span class="spacer"></span>
    <div *ngIf="!media.isActive('xs')">
      <div class="menu" fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-around center">
        <a routerLink="/dashboard">Dashboard</a>
        <a *ngIf="!changePassword" routerLink="/change-password">Change password</a>
        <a *ngIf="changePassword" routerLink="/manage-api">Manage API</a>
        <a (click)="logout()" href="">Logout</a>
      </div>
    </div>
    <div *ngIf="media.isActive('xs')">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/dashboard"> Dashboard </button>
        <button *ngIf="changePassword" mat-menu-item routerLink="/change-password"> Change password </button>
        <button *ngIf="!changePassword" mat-menu-item routerLink="/manage-api"> Manage API </button>
        <button mat-menu-item (click)="logout()"> Logout </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
