<div fxLayout="row" class="portfolio-distribution-row" fxLayoutGap="16px">
  <mat-form-field class="asset-selection" floatLabel="never" fxLayout="row" fxLayoutAlign="none end" fxFlex="65">
    <input type="text" name="Asset" placeholder="Select an asset" aria-label="Number" matInput [formControl]="productForm" [matAutocomplete]="auto" fxFlex required>
    <i-chevron-down matSuffix></i-chevron-down>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="nameAndCode">
      <mat-option *ngFor="let asset of filteredAssets | async" [value]="asset">
        {{nameAndCode(asset)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="percentage-value" fxFlex="16">
    <input type="number" name="Percentage" matInput class="percentage-input" [formControl]="percentageForm" [(ngModel)]="assetDistribution.percentage" required>
    <span matSuffix>%</span>
  </mat-form-field>
  <div class="portfolio-distribution-buttons" fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="18px">
    <div><i-minus-circle [class.disabled]="disableRemoveButton" class="remove-icon" (click)="removeRowClick()"></i-minus-circle></div>
    <div class="new-row-icon-wrapper">
      <i-plus-circle [hidden]="!showAddButton" class="add-icon" (click)="addNewRowClick()"></i-plus-circle>
    </div>
  </div>
</div>
