.portfolio-distribution-row {
  margin-bottom: 8px;
}

.remove-icon {
  color: #f85843;
  cursor: pointer;
}

  .remove-icon.disabled {
    color: #e9eff4;
    cursor: unset;
  }

.add-icon {
  color: #4a90e2;
  cursor: pointer;
}

.portfolio-distribution-buttons{
  padding-top: 5px;
}

.new-row-icon-wrapper{
  width: 24px;
}

.percentage-input {
  text-align: right;
}

/deep/ .portfolio-distribution-row .mat-input-flex.mat-form-field-flex {
  height: 32px;
}
