<div *ngIf="historicalChartData" class="dashboard-tab-container">
  <div class="dashboard-tab-title">Historical</div>
  <div class="dashboard-tab-subtitle">Returns of this portfolio since it was created</div>

  <div style="display: block; position: relative; width:80vw">
    <canvas baseChart height="1000" width="3000"
            [datasets]="historicalChartData"
            [labels]="historicalChartLabels"
            [options]="historicalChartOptions"
            [colors]="historicalChartColors"
            [legend]="false"
            [chartType]="'line'"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
