.mat-step-header .mat-step-icon-not-touched{
  width: 40px !important;
  height: 40px !important;
  border-radius: 100px !important;
  border: solid 1px #ebeaea !important;
}

.mat-horizontal-stepper-header-container{
  margin: 0 auto !important;
}

/deep/ .wizard .mat-horizontal-stepper-header{
  padding: 0px !important;
}

/deep/ .wizard .mat-step-label{
  min-width: 10px;
}