.no-investments{
    text-align: center;
}

.advisor-selection-option{
    display: inline-block;
    width: 240px;
    background: white;
    color: #4a90e2;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: 0;
    padding: 20px;
}

.advisor-selection-option:hover{
    background: #f0f0f0;
  }

  .advisor-selection-option span{
      display: block;
      margin-bottom: 20px;
      font-size: 24px;

  }


.no-investments-title{
    font-size: 24px;
    color: #4a4a4a;
}

.no-investments-subtitle{
    font: size 14px;
    color: #55606e;
    margin-top:6px;
    margin-bottom:6px;
}

.sync-exchange{
    width:200px;
    margin: auto;
}