<div class="my-investments">
  <div class="portfolio-list-header">
    <header></header>
    <div class="header-text-container" fxLayout="row">
      <div fxFlex>
        <h1>Following</h1>
      </div>
    </div>
  </div>
  <div class="portfolio-list">
    <loading-spinner *ngIf="!portfolios && !exchangePortfolios"></loading-spinner>
    <portfolio-card *ngFor="let portfolio of portfolios" [portfolio]="portfolio"></portfolio-card>
    <exchange-portfolio-card *ngFor="let portfolio of exchangePortfolios" [exchangePortfolio]="portfolio"></exchange-portfolio-card>
    <div *ngIf="portfolios && portfolios.length == 0 && exchangePortfolios && exchangePortfolios.length == 0" class="no-investments">
      <div class="no-investments-title">You don't follow any portfolios yet.</div>
      <div class="no-investments-subtitle">Check the available portfolios at advisors page!</div>
      <div class="advisor-selection">
        <div class="advisor-selection-option" routerLink="/advisors" routerLinkActive="active">
          <span>ADVISORS</span>
          <img src="/assets/img/human.svg" />
        </div>
      </div>
    </div>
  </div>
</div>