<div class="my-investments">
  <div class="portfolio-list-header">
    <header></header>
    <div class="header-text-container" fxLayout="row">
      <div fxFlex>
        <h1>My investments</h1>
      </div>
    </div>
  </div>
  <div class="portfolio-list">
    <loading-spinner *ngIf="!portfolios"></loading-spinner>
    <portfolio-card *ngFor="let portfolio of portfolios" [portfolio]="portfolio"></portfolio-card>
    <div *ngIf="portfolios && portfolios.length == 0" class="no-investments">
      <div class="no-investments-title">You still don't have any investments.</div>
      <div class="no-investments-subtitle">Select one option bellow and start now!</div>
      <div class="advisor-selection">
        <div class="advisor-selection-option" routerLink="/human-advisors" routerLinkActive="active">
          <span>HUMAN ADVISORS</span>
          <img src="/assets/img/human.svg" />
        </div>
        <div class="advisor-selection-option" routerLink="/robo-advisors" routerLinkActive="active">
          <span>ROBO ADVISORS</span>
          <img src="/assets/img/robo.svg" />
        </div>
      </div>
    </div>
  </div>
</div>