<ion-header>

  <ion-navbar>
    <ion-title>{{"PROJECTION" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="projection">
    <ion-row>
      <ion-col col-4 text-center>
        <ion-label ion-text color="primary">
          Timeframe
        </ion-label>
        <ion-label>
          {{projection.currentGoal.timeframe}} years
        </ion-label>
      </ion-col>
      <ion-col col-4 text-center>
        <ion-label ion-text color="primary">
          Starting
        </ion-label>
        <ion-label>
          {{projection.currentGoal.startingAmount | currency}}
        </ion-label>
      </ion-col>
      <ion-col col-4 text-center>
        <ion-label ion-text color="primary">
          Monthy
        </ion-label>
        <ion-label>
          {{projection.currentGoal.monthlyContribution | currency}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-center>
        <ion-label ion-text color="primary">
          Target
        </ion-label>
        <ion-label>
          {{projection.currentGoal.targetAmount | currency}}
        </ion-label>
      </ion-col>
      <ion-col col-6 text-center>
        <ion-label ion-text color="primary">
          Risk
        </ion-label>
        <ion-label>
          {{projection.currentGoal.risk}}/5
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <hr/>

  <ion-row *ngIf='chartData.length > 0'>
    <ion-col col-4 text-center>
      <ion-label ion-text >
          <ion-icon name="remove-circle" class="less-likely"></ion-icon>
        Less Likely
      </ion-label>
    </ion-col>
    <ion-col col-4 text-center>
      <ion-label ion-text >
          <ion-icon name="remove-circle" class="more-likely"></ion-icon>
        More Likely
      </ion-label>
    </ion-col>
    <ion-col col-4 text-center>
      <ion-label ion-text >
        <b>
            <ion-icon name="remove-circle" class="contributed"></ion-icon>
        </b>
        Contributed
      </ion-label>
    </ion-col>
    <ion-col col-12>
      <canvas baseChart width="100" height="100" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors"
        [legend]="chartLegend" [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </ion-col>
  </ion-row>

</ion-content>
