<header></header>
<div fxLayout="column" class="advisor-steps-main-content">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutMargin>
    <div fxLayout="column" fxFlex>
      <div fxLayout="column">
        <h1 class="bold">So, do you want to be an investment advisor?</h1>
        <div fxLayout="row">
          <h3>
            Your advisor account is being created
          </h3>
          <mat-spinner class="loading-advisor" [mode]="indeterminate" [diameter]="40" [color]="primary"></mat-spinner>
        </div>
      </div>
    </div>
    <eth-machine fxFlex fxHide.lt-md></eth-machine>
  </div>
</div>