<wizard-header></wizard-header>
<div fxLayout="column" class="main-content">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutMargin>
    <div fxLayout="row" fxLayoutGap="100px">
      <div fxLayout="column">
        <div fxLayout="column">
          <h1 class="bold">So Wenderson, do you want to be an investiment advisor?</h1>
          <h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          </h3>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column" class="steps">
            <div class="step-number">STEP 1</div>
            <div class="step-title">Tell us a little about you</div>
            <div class="step-description">Title and short description</div>
            <div class="step-next-button">NEXT</div>
          </div>
          <div fxLayout="column"  fxLayoutAlign="space-evenly center">
            <i-check-circle class="blue-confirm"></i-check-circle>
          </div>
        </div>
        <div fxLayout="column" class="steps disabled">
          <div class="step-number">STEP 2</div>
          <div class="step-title">Get ready for investitors</div>
          <div class="step-description">Fee and pay frequency</div>
          <div class="step-next-button">NEXT</div>
        </div>
        <div fxLayout="column" class="steps disabled">
          <div class="step-number">STEP 3</div>
          <div class="step-title">Set your financial portfólio</div>
          <div class="step-description">Products, percental, risk and projection</div>
          <div class="step-next-button">NEXT</div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="auctus-animation">
        </div>
      </div>
    </div>
  </div>
</div>
