.advisor-steps-main-content {
  padding: 70px;
}

h1, h3{
  margin: 0;
}

h3 {
  margin-top: 24px;
  margin-bottom: 16px
}

.buttons {
  margin-top: 40px;
}


.create-account {
  width: 400px;
  background-color: #e9eff4;
  padding: 40px 24px;
}

.create-account-button {
  padding-top: 40px;
}

.steps {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: rgba(74, 74, 74, 0.1) solid 1px;
  max-width: 350px;
  width: 100%;
}

.step-number {
  font-family: 'HelveticaNeueBold';
  font-size: 12px;
  font-weight: bold;
  color: #808fa3;
}

.step-title {
  font-family: 'HelveticaNeueBold';
  font-size: 20px;
  color: #4a4a4a;
}

.step-description {
  font-size: 12px;
  line-height: 2;
  color: #55606e;
}

.steps.disabled > div {
  color: #ebeaea;
}

.steps.disabled .step-next-button {
  display:none;
}

.step-next-button {
  width: 104px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  padding: 12px;
}


.blue-confirm {
  color: #3c91e6;
}

.step-fee {
  font-size: 12px;
}

.periodicity-description {
  font-size: 10px;
}


/deep/ .step-title svg.feather.feather-edit {
  height: 15px;
  color: #4a90e2;
}

.edit-label {
  font-size: 12px;
  line-height: 24px;
  color: #4a90e2;
}
