<wizard-header></wizard-header>
<div fxLayout="column" class="advisor-steps-main-content" *ngIf="currentStep == wizardSteps.Start.Id">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutMargin>
    <div fxLayout="column" fxFlex>
      <div fxLayout="column">
        <h1 class="bold">So Wenderson, do you want to be an investiment advisor?</h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </h3>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" class="steps">
          <div class="step-number">STEP 1</div>
          <div class="step-title">
            <span *ngIf="!advisorModel.name">Tell us a little about you</span>
            <span *ngIf="advisorModel.name">{{advisorModel.name}}</span>
          </div>
          <div class="step-description">
            <span *ngIf="!advisorModel.description">Title, description, fee and pay frequency</span>
            <span *ngIf="advisorModel.description">{{advisorModel.description}}</span>
          </div>
          <div class="step-next-button primary-blue-button bold" *ngIf="!advisorModel.id"  (click)="nextStep()">Continue</div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="space-evenly center">
          <a (click)="nextStep()" *ngIf="advisorModel.id" fxLayout="row" fxLayoutGap="16px" fxLayourAlign="center center">
            <i-check-circle class="blue-confirm"></i-check-circle>
            <span class="edit-label bold">EDIT</span>
          </a>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" class="steps" [class.disabled]="currentStep < 2">
          <div class="step-number">STEP 2</div>
          <div class="step-title">Set your financial portfólio</div>
          <div class="step-description">Products, percental, risk and projection</div>
          <div class="step-next-button primary-blue-button bold" *ngIf="currentStep==2" (click)="changeStep(wizardSteps.Portfolio.Id)">Continue</div>
        </div>
        <div  fxLayout="row" fxLayoutAlign="space-evenly center">
          <a (click)="changeStep(wizardSteps.Portfolio.Id)" *ngIf="advisorModel.id" fxLayout="row" fxLayoutGap="16px" fxLayourAlign="center center">
            <i-check-circle class="blue-confirm"></i-check-circle>
            <span class="edit-label bold">EDIT</span>
          </a>
        </div>
      </div>
    </div>
    <eth-machine fxFlex fxHide.lt-md></eth-machine>

  </div>
</div>
<advisor-step *ngIf="currentStep === wizardSteps.Advisor.Id" [advisorModel]="editedAdvisorModel" (onBackStep)="backStep($event)" (onNextStep)="nextStep($event)"></advisor-step>
<portfolio-step *ngIf="currentStep === wizardSteps.Portfolio.Id" [advisorModel]="advisorModel" (onBackStep)="backStep($event)" (onNextStep)="nextStep($event)"></portfolio-step>
