<mat-toolbar class="footer">
    <mat-toolbar-row class="internal-footer">
        <a href="https://auctus.org" target="blank">AUCTUS.ORG</a>
        <span class="spacer"></span>
        <div>
            <div class="menu" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="space-around center">
                <a href="https://auctus.org" target="_blank">WHAT IS AUCTUS?</a>
                <a href="mailto:contact@auctus.org">CONTACT US</a>
                <a href="https://dl.auctus.org/Terms_of_Use.pdf" target="_blank">TERMS OF USE</a>
                <a href="https://dl.auctus.org/Privacy_Policy.pdf" target="_blank">PRIVACY POLICY</a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
