

.advisor-info {
    padding-top: 40px;
    padding-left: 136px;
    padding-bottom: 40px;
  }

.portfolio-description {
  padding-top: 40px;
  padding-left: 136px;
  padding-bottom: 40px;
}

.return-indicator-div{
  padding-top: 20px;
  padding-left: 136px;
  padding-bottom: 20px;
}