<div class="portfolio-list-header">
  <header></header>
  <div class="header-text-container" fxLayout="row" *ngIf="portfolio">
    <div fxFlex>
      <h1 *ngIf="portfolio.name">{{portfolio.name}}</h1>
      <h2 *ngIf="portfolio.advisorName">{{portfolio.advisorName}}</h2>
      <p>
        <span *ngIf="portfolio.purchased">You have already purchased from this advisor</span>
      </p>
    </div>
  </div>
</div>
<loading-spinner *ngIf="!portfolio"></loading-spinner>
<ng-container *ngIf="portfolio">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="60">
      <div fxLayout="column" fxLayoutAlign="space-between">
        <div class="portfolio-description" fxFlex>
          <b>Portfolio description</b>
          <p *ngIf="!portfolio.description">
            This portfolio has no description
          </p>
          <p *ngIf="portfolio.description">
              {{portfolio.description}}
            </p>
        </div>
      </div>
    </div>
    <div class="return-indicator-div" fxFlex fxLayoutAlign="space-between center">
      <portfolio-return-indicator *ngIf="portfolio.allDays" [estimatedReturn]="portfolio.allDays.expectedValue" [realReturn]="portfolio.allDays.value" [successRate]="portfolio.allDays.hitPercentage" [risk]="portfolio.risk">
      </portfolio-return-indicator>
    </div>
  </div>
  <portfolio-details-tabs *ngIf="portfolio" [portfolio]="portfolio" [goal]="goal"></portfolio-details-tabs>
</ng-container>
