<div class="portfolio-list-header">
  <header></header>
  <div class="header-text-container" fxLayout="row" *ngIf="portfolio">
    <div fxFlex>
      <h1 *ngIf="portfolio.name">{{portfolio.name}}</h1>
      <h2 *ngIf="portfolio.advisorName">{{portfolio.advisorName}}</h2>
      <p>
        <span *ngIf="!portfolio.following">Follow this portfolio and receive allocation change notification</span><br>
        {{portfolio.followersQuantity | number:'1.0-2'}} <span *ngIf="portfolio.followersQuantity == 1">follower</span><span *ngIf="portfolio.followersQuantity != 1">followers</span>
      </p>
    </div>
    <div *ngIf="this.loginData && portfolio.advisorId == this.loginData.humanAdvisorId" fxFlex fxLayoutAlign="end center">
      <div class="header-action-button" fxLayoutAlign="space-around center" routerLink="/edit-portfolio/{{portfolio.id}}">EDIT PORTFOLIO</div>
    </div>
    <div *ngIf="this.loginData && portfolio.advisorId != this.loginData.humanAdvisorId && !portfolio.following" fxFlex fxLayoutAlign="end center">
      <button
       type="button" [promiseBtn]="followPromise" class="header-action-button" (click)="onFollowClick()">FOLLOW</button>
    </div>
    <div *ngIf="this.loginData && portfolio.advisorId != this.loginData.humanAdvisorId && portfolio.following" fxFlex fxLayoutAlign="end center">
      <button type="button" [promiseBtn]="followPromise" class="header-action-button" (click)="onUnfollowClick()">UNFOLLOW</button>
    </div>
  </div>
</div>
<loading-spinner *ngIf="!portfolio"></loading-spinner>
<ng-container *ngIf="portfolio">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="60">
      <div fxLayout="column" fxLayoutAlign="space-between">
        <div class="advisor-info" fxFlex>
          <b>Advisor Info</b>
          <p>
            {{portfolio.advisorDescription}}
          </p>
        </div>
        <div *ngIf="portfolio.description" class="portfolio-description" fxFlex>
          <b>Portfolio description</b>
          <p>
            {{portfolio.description}}
          </p>
        </div>
      </div>
    </div>
    <div fxFlex>
      <portfolio-return-indicator *ngIf="portfolio.allDays" [estimatedReturn]="portfolio.allDays.expectedValue" [realReturn]="portfolio.allDays.value" [successRate]="portfolio.allDays.hitPercentage" [risk]="portfolio.risk">
      </portfolio-return-indicator>
    </div>
  </div>
  <portfolio-details-tabs *ngIf="portfolio" [portfolio]="portfolio" [goal]="goal"></portfolio-details-tabs>
</ng-container>
