

.advisor-info {
    padding-top: 40px;
    padding-left: 136px;
    padding-bottom: 40px;
  }

.portfolio-description {
  padding-top: 40px;
  padding-left: 136px;
  padding-bottom: 40px;
}


.body-loading{
  margin-top: 40px;
  margin-bottom: 40px;
}

