<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex style="padding-top:30px">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-title">
              PROJECTION
            </div>
          </ng-template>
          <div fxLayout="row" fxLayoutAlign="space-around center" class="tab-body">
            <div fxFlex="30">
              <div class="buy-box">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="50" class="text-left">
                    <div class="advice-price">
                      $17 AUC
                      <span class="month-price">/ month</span>
                    </div>
                    <div class="info-price">
                      Advise price
                    </div>
                  </div>
                  <div fxFlex="50" class="text-right">
                    <div class="estimated-return-value">
                      10%
                      <span class="month-price">/ month</span>
                    </div>
                    <div class="info-price">
                      Estimated return
                    </div>
                  </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="50" class="text-left">
                    <div class="date-label">
                      Data
                    </div>
                  </div>
                  <div fxFlex="50" class="text-right">
                    <div class="month-qty">
                      04 meses
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="date-box">
                  <div fxFlex="45" class="text-left">
                    <div class="start-date">
                      16/02/2018
                    </div>
                  </div>
                  <div fxFlex="10" class="text-center">
                    <i-arrow-right class="icon"></i-arrow-right>
                  </div>
                  <div fxFlex="45" class="text-right">
                    <div class="end-date">
                      16/06/2018
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="estimated-total-return ">
                  <div fxFlex="70" class="text-left">
                    Estimated total return
                  </div>
                  <div fxFlex="30" class="text-right">
                    46,41%
                  </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="desc-calc-price">
                  <div fxFlex="50" class="text-left">
                    Advise price
                  </div>
                  <div fxFlex="50" class="text-right">
                    $17 AUC X 4 months
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="total-price">
                  <div fxFlex="50" class="text-left">
                    <div>
                      Total
                    </div>
                  </div>
                  <div fxFlex="50" class="text-right">
                    <div>
                      $68 AUC
                    </div>
                  </div>
                </div>
                <button class="action-button text-center" style="width:100%">
                  COMPRAR
                </button>
              </div>
            </div>
            <div fxFlex="70">
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-title">
              HISTORY
            </div>
          </ng-template>
          <h1>Terrible sushi restaurants</h1>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-title">
              ALLOCATION
            </div>
          </ng-template>
          <h1>Terrible sushi restaurants</h1>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>