mat-form-field{
    /* margin-top: 20px; */
    /* padding: 20px; */
    width: 250px;
}

mat-form-field input{
    font-size: 36px;
    color: #4a90e2;
}

mat-form-field mat-icon{
    color: #4a90e2;
    font-size: 34px;
}

.target-amount{
    margin-top: 20px;
}