<form #goalForm="ngForm">
    <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row">
          <span fxFlex fxLayoutAlign="center center">What are you saving for?</span>
        </div>
      
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutMargin fxLayoutAlign="space-evenly center">
            <mat-button-toggle-group [(ngModel)]="model.GoalOption.id" name="GoalOption" ngDefaultControl required>
                <mat-button-toggle *ngFor="let option of options" [value]="option.id">{{option.description}}</mat-button-toggle>
            </mat-button-toggle-group>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field hintLabel="Optional">
                    <input matInput placeholder="Target amount" name="TargetAmount" [(ngModel)]="model.TargetAmount" required>
                  </mat-form-field>
              </div>
        </div>
      </div>
      
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
</form>