<form #goalForm="ngForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutGap="20px" (window:resize)="onResize($event)">
        <div fxLayout="row">
            <h2 class="bold" fxFlex fxLayoutAlign="center center">What are you saving for?</h2>
        </div>

        <mat-grid-list [style.width]="width" [style.margin]="'0 auto'" [cols]="cols" rowHeight="106px" gutterSize="10px">
            <mat-grid-tile
                *ngFor="let option of options"
                [colspan]="1"
                [rowspan]="1"
                [style.width]="107">
              <goal-option [value]="option.id" [label]="option.description" (click)="onOptionChange(option.id)"></goal-option>
            </mat-grid-tile>
          </mat-grid-list>

        <div fxLayout="row" fxLayoutAlign="end center" class="wizard-buttons">
            <button class="next" mat-button type="submit" [disabled]="!selected"></button>
        </div>
    </div>
</form>