<div class="telegram-popup">
  <h2>One more step!</h2>
  <span> To proceed you need to be a Member of Auctus Telegram Chat</span>
  <div>JOIN TELEGRAM CHAT</div>
  <div>
    <div>
      <span>Please confirm your phone number to validate you are a member of Auctus Chat</span>
    </div>
    <br />
    <form (ngSubmit)="checkTelegramParticipation()">
      <mat-form-field fxFlex="70">
        <input matInput placeholder="PhoneNumber" [(ngModel)]="phoneNumber" type="text" name="phoneNumber"/>
      </mat-form-field>
      <button type="submit" class="primary-blue-button bold" [promiseBtn]="checkPromise">Validate</button>
    </form>
    <br />
    <span>This procedure aims to reduce chances of participants creating multiple accounts and keep a fair Tournament.</span>
  </div>
</div>
