<div class="telegram-popup">
  <h2>One more step!</h2>
  <span> To proceed you need to be a Member of Auctus Telegram Chat</span>
  <div>JOIN TELEGRAM CHAT</div>
  <div>
    <div>
      <span>Please confirm your phone number to validate you are a member of Auctus Chat</span>
    </div>
    <br />
    <label for="phone-number">Phone Number</label>
    <input type="tel" id="phone-number" />
    <button>Validate</button>
    <span>This procedure aims to guarantee that users will not create multiple accounts and keep a fair Tournament.</span>
  </div>
</div>
