<div class="human-advisors">
    <div class="portfolio-list-header">
        <header></header>
        <div class="header-text-container" fxLayout="row">
            <div fxFlex>
                <h1>Start investing</h1>
                <p>Find and follow the best performing portfolios with traditional and cryptocurrency assets made by financial
                    experts.</p>
            </div>
        </div>
    </div>
    <div class="portfolio-list">
        <loading-spinner *ngIf="!portfolios"></loading-spinner>
        <portfolio-card *ngFor="let portfolio of portfolios" [portfolio]="portfolio"></portfolio-card>
    </div>
</div>