
/deep/ .mat-horizontal-stepper-header-container{
  display:none !important ;
}

.name-step {
  margin-top: 50px;
}

.name-step-title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'HelveticaNeueBold';
  font-size: 20px;
  color: #4a4a4a;
}

.name-input {
  width: 350px;
}

/deep/ advisor-step1 mat-form-field.mat-form-field {
  font-size: 32px;
  text-align: center;
  color: #4a90e2;
}

/deep/ mat-form-field.mat-form-field input {
  text-align: center;
}
