<ion-header>
  <navbar [onPurchaseSelectClose]="onPurchaseSelectClose"></navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <h2>
        <b>
          {{'EVOLUTION' | translate}}
        </b>
      </h2>
      <p>
        {{'EVOLUTION_SUBTITLE' | translate}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="purchase && history">
    <ion-col col-6 text-left class="historical-label">
      <h5>
        <ion-icon name="remove-circle"></ion-icon>
        {{'CURRENT' | translate}}
      </h5>
    </ion-col>
    <ion-col col-6 text-right>
      <h5 *ngIf="summary.today.historical">
        {{ summary.today.historical | currency }}
      </h5>
    </ion-col>
    <ion-col col-6 text-left class="projection-label">
      <h5>
        <ion-icon name="remove-circle"></ion-icon>
        {{'PROJECTION' | translate}}
      </h5>
    </ion-col>
    <ion-col col-6 text-right>
      <h5 *ngIf="summary.today.projection">
        {{ summary.today.projection | currency }}
      </h5>
    </ion-col>
    <ion-col col-6 text-left>
      <p>
        {{'EXPEC ' | translate}}
      </p>
    </ion-col>
    <ion-col col-6 text-right>
      <p *ngIf="summary.today.lossProfit" ion-text [ngClass]="{'profit': summary.today.lossProfit > 0, 'loss': summary.today.lossProfit < 0}">
        <b>
          <ion-icon name="arrow-dropup-circle"></ion-icon>
          {{summary.today.lossProfit}}%
        </b>
      </p>
    </ion-col>
  </ion-row>
  <ion-row text-center *ngIf="purchase && history">
    <ion-col col-12 text-center>
      <h4>
        <b>
          {{moment().toDate() | date}}
        </b>
      </h4>
    </ion-col>
    <ion-col col-12>
      <canvas baseChart width="10" height="10" [chartType]="chartType" [colors]="chartColors" [datasets]="chartData" [labels]="chartLabels"
        [legend]="chartLegend" [options]="chartOptions">
      </canvas>
    </ion-col>
  </ion-row>
</ion-content>