<form #amountForm="ngForm" (ngSubmit)="onSubmit()" class="amount-step">
  <div fxLayout="column" fxLayoutGap="20px">

    <div fxLayout="row">
      <h2 class="bold" fxFlex fxLayoutAlign="center center">Tell us about your goals</h2>
    </div>

    <div fxLayout="row">
      <h2 fxFlex fxLayoutAlign="center center">How much can you invest?</h2>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutMargin fxLayoutAlign="space-evenly center">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <span class="input-label">Starting Amount</span>
            <mat-form-field>
                <mat-icon matPrefix>attach_money</mat-icon>
                <input matInput type="number" name="StartingAmount" [(ngModel)]="model.startingAmount" required>
            </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column" fxLayoutAlign="center center">
              <span class="input-label">Monthly contribution</span>
              <mat-form-field>
                  <mat-icon matPrefix>attach_money</mat-icon>
                  <input matInput type="number" name="MonthlyContribution" [(ngModel)]="model.monthlyContribution" required>
              </mat-form-field>
          </div>
      </div>
    </div>

    <div fxLayout="row">
      <h4 class="medium" fxFlex fxLayoutAlign="center center">Monthly contributions can be changed at any time</h4>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="wizard-buttons">
      <button class="next" mat-icon-button type="submit" [disabled]="!amountForm.form.valid">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</form>
