<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
      <span fxFlex fxLayoutAlign="center center">Register</span>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" fxLayoutMargin fxLayoutAlign="space-evenly center">
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Email" [inputFocus]="true" name="email" [(ngModel)]="fullRegisterDTO.user.email">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="fullRegisterDTO.user.password">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit" [promiseBtn]="promise" [disabled]="!registerForm.form.valid">Register</button>
    </div>
  </div>
</form>