<div class="advisor-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
  <div fxLayout="row" fxFlex fxLayoutGap="25px">
    <div class="advisor-rank">
      {{position}}
    </div>
    <div class="advisor-name">
      {{advisor.name}}
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="25px">
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="price-box">
        {{advisor.allocatedAUC + " AUC"}}
        <br/>
        <span style="font-size:8px">
          Total
        </span>
      </div>
    </div>
  </div>
</div>
