<form class="risk-step" #riskForm="ngForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
      <h2 class="bold" fxFlex fxLayoutAlign="center center">Set a risk/reward balance</h2>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" fxLayoutMargin fxLayoutAlign="space-evenly center">
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
        <div class="description" fxLayoutAlign="center center">
          <span ng-show="riskDescription" class="risk-description">{{riskDescription}}</span>
        </div>
        <mat-slider [ngClass]="{'xs' : media.isActive('xs')}" [invert]="false" [max]="5" [min]="0" [step]="1" [thumb-label]="true" 
        [(ngModel)]="model.risk" [vertical]="false" name="risk" (change)="onChangeSlider()">
        </mat-slider>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="wizard-buttons">
        <button class="next" mat-button type="submit" [disabled]="!riskForm.form.valid"></button>
      </div>
  </div>
</form>