<wizard-header></wizard-header>

<div *ngIf="!login.pendingConfirmation" fxLayout="column" class="main-content" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Email or username" [(ngModel)]="login.emailOrUsername" type="email" name="email" autocomplete="username email" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="login.password" type="password" autocomplete="current-password" name="password" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <input type="button" class="primary-button bold login" (click)="onLoginClick()" value="LOGIN" />
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <a routerLink="/forgot-password-email" class="element-margin-top">Forgot my password</a>
  </div>
</div>
<app-pending-email-confirmation-component *ngIf="login.pendingConfirmation" [email]="login.email"></app-pending-email-confirmation-component>
<!--
  <form>
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="login.email" type="text" name="email" autocomplete="username email" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="login.password" type="password" autocomplete="current-password" name="password" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field>
          <input type="button" class="primary-button bold" (click)="onLoginClick()" value="LOGIN" />
        </mat-form-field>
      </div>
    </div>

  </form>

-->
