/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: "HelveticaNeueBold";
  src: url('/assets/fonts/HelveticaNeueBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelveticaNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
  url("/assets/fonts/HelveticaNeueBold.woff") format("woff"), /* Pretty Modern Browsers */
  url("/assets/fonts/HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url('/assets/fonts/HelveticaNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('/assets/fonts/HelveticaNeueMedium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelveticaNeueMedium.woff2') format('woff2'), /* Super Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.woff") format("woff"), /* Pretty Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.ttf") format("truetype"), /* Safari, Android, iOS */
  url('/assets/fonts/HelveticaNeueMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('/assets/fonts/HelveticaNeueMedium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelveticaNeueMedium.woff2') format('woff2'), /* Super Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.woff") format("woff"), /* Pretty Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.ttf") format("truetype"), /* Safari, Android, iOS */
  url('/assets/fonts/HelveticaNeueMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@-webkit-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Styles for old versions of IE */
button .btn-spinner {
  font-family: sans-serif;
  font-weight: 100;
  -webkit-animation: three-quarters 1250ms infinite linear;
  -moz-animation: three-quarters 1250ms infinite linear;
  -ms-animation: three-quarters 1250ms infinite linear;
  -o-animation: three-quarters 1250ms infinite linear;
  animation: three-quarters 1250ms infinite linear;
  border: 3px solid #8c024c;
  border-right-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
}

  button .btn-spinner:not(:required) {
    margin-left: -22px;
    opacity: 0;
    transition: 0.4s margin ease-out, 0.2s opacity ease-out;
  }

button.is-loading .btn-spinner {
  transition: 0.2s margin ease-in, 0.4s opacity ease-in;
  margin-left: 5px;
  opacity: 1;
}

.spacer {
  flex: 1 1 auto;
}

/* angular material stepper */

.register-stepper .mat-stepper-horizontal-line {
  display: none !important;
}

.register-stepper .mat-step-header .mat-step-icon-not-touched {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100px !important;
  border: solid 1px #ebeaea !important;
  background-color: white !important;
  color: #ebeaea !important;
}

.register-stepper .mat-step-header[ng-reflect-selected="true"] .mat-step-icon {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100px !important;
  border: solid 1px #4a90e2 !important;
  background-color: #4a90e2 !important;
  color: white !important;
}

.register-stepper .mat-step-header[ng-reflect-selected="false"] .mat-step-icon {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100px !important;
  border: solid 1px #4a90e2 !important;
  background-color: white !important;
  color: #4a90e2 !important;
}

.register-stepper .mat-horizontal-stepper-header-container {
  margin: 0 auto !important;
}

.dashboard-tab-title {
  font-family: 'HelveticaNeueMedium';
  font-size: 24px;
  font-weight: 500;
  color: #aaaaaa;
}

.dashboard-tab-subtitle {
  font-family: 'HelveticaNeue';
  font-size: 14px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 60px;
  color: #4a4a4a;
}

.dashboard-tab-container {
  padding: 32px 72px;
}

.pull-right {
  float: right;
}

body, p, span {
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  margin: 0px;
}

.medium {
  font-family: 'HelveticaNeueMedium';
}

.bold {
  font-family: 'HelveticaNeueBold';
}

.mat-form-field-label.mat-input-placeholder.mat-form-field-placeholder {
  font-family: 'HelveticaNeueMedium' !important;
}

.input-label {
  font-family: 'HelveticaNeueMedium', 'Helvetica', sans-serif;
  font-size: 14px;
  color: #4a4a4a;
}

h1 {
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #4a4a4a;
}

  h1.bold {
    font-family: 'HelveticaNeueBold' !important;
  }

h2 {
  font-family: 'HelveticaNeueMedium';
  font-weight: normal;
  font-size: 20px;
  color: #4a4a4a;
}

  h2.bold {
    font-family: 'HelveticaNeueBold'
  }

h3 {
  font-family: 'HelveticaNeue';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #55606e;
}


h4 {
  font-family: 'HelveticaNeue';
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

button {
  font-size: 14px;
  font-weight: 500;
}

.primary-button {
  border-radius: 100px;
  border: solid 1px #3c91e6;
  background: white;
  padding: 12px 35px;
  color: #3c91e6;
  cursor: pointer;
}

  .primary-button.bold, .primary-blue-button.bold {
    font-family: 'HelveticaNeueBold';
  }

  .primary-button:hover {
    background-color: lightcyan;
  }

.primary-blue-button {
  background-color: #3c91e6;
  border: solid 1px #3c91e6;
  color: #ffffff;
  border-radius: 100px;
  padding: 12px 35px;
  cursor: pointer;
}

  .primary-blue-button:hover {
    background-color: #3786d4;
    border: solid 1px #3786d4;
  }

.warning-button {
  border-radius: 50px;
  border: solid 1px #ff4444;
  background: white;
  padding: 10px 15px;
  color: #ff4444;
  cursor: pointer;
}

  .warning-button.bold {
    font-family: 'HelveticaNeueBold';
  }

  .warning-button:hover {
    background-color: #ffefef;
  }

button.no-border {
  background: white;
  padding: 10px 35px;
  color: #3c91e6;
  cursor: pointer;
  border: 0px;
}

  button.no-border.bold {
    font-family: 'HelveticaNeueBold';
  }

button.next,
button.back {
  border-radius: 100px;
  background-color: #4a90e2;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

  button.next:disabled,
  button.next[disabled],
  button.back:disabled,
  button.back[disabled] {
    opacity: 0.5;
    background-color: rgb(172, 171, 171);
  }


.advisor-wizard-buttons {
  width: 600px;
  max-width: 100%;
  margin: 20px;
}

@media (min-width: 800px) {
  .wizard-buttons {
    /* margin-right: 25%; */
    max-width: 75%;
  }
}

.wizard-buttons mat-icon {
  color: white;
}


.amount-step .mat-input-underline {
  background-color: #d8d8d8 !important;
}

.element-margin-top {
  margin-top: 15px;
}


.inside-step-title {
  font-family: 'HelveticaNeueBold';
  font-size: 32px;
  text-align: center;
  color: #4a4a4a;
}
