<div class="buy-box">
  <div class="buy-box-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50" class="text-left">
      <div class="advice-price">
        {{simulator.price}} AUC
        <span class="month-price">/ month</span>
      </div>
      <div class="info-price">
        Advise price
      </div>
    </div>
    <div fxFlex="50" class="text-right">
      <div class="estimated-return-value">
        {{simulator.estimatedReturn}}%
        <span class="month-price">/ month</span>
      </div>
      <div class="info-price">
        Estimated return
      </div>
    </div>
  </div>
  <hr>
  <div class="buy-box-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50" class="text-left">
      <div class="date-label">
        Date
      </div>
    </div>
    <div fxFlex="50" class="text-right">
      <div class="month-qty">
        {{timeDescription}}
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="date-box">
    <div fxFlex="45" class="text-left">
      <div class="start-date">
        {{simulator.startDate | date:'M/dd/yyyy'}}
      </div>
    </div>
    <div fxFlex="10" class="text-center">
      <i-arrow-right class="icon"></i-arrow-right>
    </div>
    <div fxFlex="45">
      <mat-form-field floatLabel="never" style="width:100%" class="end-date">
        <input matInput [min]="simulator.startDate" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="simulator.endDate"
          (ngModelChange)="updateSimulator()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="buy-box-content estimated-total-return ">
    <div fxFlex="70" class="text-left">
      Estimated total return
    </div>
    <div fxFlex="30" class="text-right">
      {{simulator.estimatedTotalReturn.toFixed(2)}}%
    </div>
  </div>
  <hr>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="buy-box-content desc-calc-price">
    <div fxFlex="50" class="text-left">
      Advise price
    </div>
    <div fxFlex="50" class="text-right">
      {{portfolio.price}} AUC X {{timeDescription}}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="buy-box-content total-price">
    <div fxFlex="50" class="text-left">
      <div>
        Total
      </div>
    </div>
    <div fxFlex="50" class="text-right">
      <div>
        {{simulator.totalPrice.toFixed(2)}} AUC
      </div>
    </div>
  </div>
  <div fxLayout="row" class="buy-box-content">
    <button *ngIf="!portfolio.purchased" type="button" [promiseBtn]="purchasePromise" class="action-button text-center" style="width:100%"
      (click)="onBuyClick()">
      BUY
    </button>
    <button *ngIf="portfolio.purchased" type="button" class="action-button green text-center" style="width:100%">
      PURCHASED
    </button>
  </div>
</div>