<div class="buy-box">
  <div class="buy-box-content" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50" class="text-left">
      <div class="advice-price">
        {{simulator.price}} AUC
        <span class="month-price">/ month</span>
      </div>
      <div class="info-price">
        Advise price
      </div>
    </div>
    <div fxFlex="50" class="text-right">
      <div class="estimated-return-value">
        {{simulator.estimatedReturn}}%
        <span class="month-price">/ month</span>
      </div>
      <div class="info-price">
        Estimated return
      </div>
    </div>
  </div>
  <hr>
  <div class="date-and-month" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50" class="text-left">
      <div class="date-label">
        Date
      </div>
    </div>
    <div fxFlex="50" class="text-right">
      <div class="month-qty">
        {{timeDescription}}
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="date-box">
    <div fxFlex="95px" class="text-left">
      <div class="start-date">
        {{simulator.startDate | date:'M/dd/yyyy'}}
      </div>
    </div>
    <div fxFlex="25px" class="text-center">
      <i-arrow-right class="icon"></i-arrow-right>
    </div>
    <div fxFlex="120px">
      <mat-form-field floatLabel="never" style="height: 48px; width:100%" class="end-date">
        <input matInput [min]="simulator.startDate" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="simulator.endDate"
          (ngModelChange)="onEndDateChange()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="estimated-total-return ">
    <div fxFlex="70" class="text-left">
      Estimated total return
    </div>
    <div fxFlex="30" class="text-right">
      {{simulator.estimatedTotalReturn.toFixed(2)}}%
    </div>
  </div>
  <hr>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="desc-calc-price">
    <div fxFlex="50" class="text-left">
      Advise price
    </div>
    <div fxFlex="50" class="text-right">
      {{portfolio.price}} AUC X {{timeDescription}}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="total-price">
    <div fxFlex="50" class="text-left">
      <div>
        Total
      </div>
    </div>
    <div fxFlex="50" class="text-right">
      <div>
        {{simulator.totalPrice.toFixed(2)}} AUC
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="8px" class="buy-box-content" *ngIf="portfolio.advisorId != loginData.humanAdvisorId">
    <div fxLayout="row" class="need-email-confirmation" *ngIf="isTransactionPendingConfirmation()">
        Your transaction is been processed and need to be confirmed to you be able to check the portfolio distribution. Click <a [attr.href]="getTransactionUrl()">here</a> to check it.
    </div>
    <div fxLayout="row" class="need-email-confirmation" *ngIf="isTransactionPendingToSend()">
        Your buy request was processed. You need to send it with Metamask, if some error ocurred, you can try again clicking on send transaction below. If you already sent, please inform the transaction hash.
    </div>
    <button *ngIf="!portfolio.purchased" type="button" [promiseBtn]="purchasePromise" class="action-button text-center" style="width:100%"
      (click)="onBuyClick()" [class.disabled]="loginData.pendingConfirmation">
      BUY
    </button>
    <button *ngIf="showSendTransactionButton()" type="button" [promiseBtn]="purchasePromise" class="action-button text-center" style="width:100%"
      (click)="onSendTransactionClick()">
      SEND TRANSACTION
    </button>
    <button *ngIf="showCancelBuyButton()" type="button" [promiseBtn]="purchasePromise" class="action-button text-center" style="width:100%"
      (click)="onCancelBuyClick()">
      CANCEL BUY
    </button>
    <button *ngIf="showSetHashButton()" type="button" [promiseBtn]="purchasePromise" class="action-button text-center" style="width:100%"
      (click)="onSetHashClick()">
      SET TRANSACTION HASH
    </button>
    <div fxLayout="row" class="need-email-confirmation" *ngIf="loginData.pendingConfirmation">
        You need to confirm your email to be able to buy portfolios.
    </div>
  </div>
  
</div>
