.no-portfolios{
    text-align: center;
}

.no-portfolios-title{
    font-size: 24px;
    color: #4a4a4a;
}

.no-portfolios-subtitle{
    font: size 14px;
    color: #55606e;
    margin-top:6px;
    margin-bottom:6px;
}

.max-number-portfolios-label{
    margin-bottom: 15px;
}