<mat-toolbar class="header">
    <mat-toolbar-row class="internal-header">
        <img src="./assets/logo.png" class="landing-logo">
        <span class="spacer"></span>
        <div *ngIf="loginData">
            <div class="menu" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="space-around center">
                <a routerLink="/robo-advisors" routerLinkActive="active">ROBO ADVISORS</a>
                <a routerLink="/human-advisors" routerLinkActive="active">HUMAN ADVISORS</a>
                <a routerLink="/investments" routerLinkActive="active">MY INVESTMENTS</a>
                <a *ngIf="loginData.humanAdvisorId" routerLink="/advisor/{{loginData.humanAdvisorId}}" routerLinkActive="active">MY ADVISOR PAGE</a>
                <div *ngIf="!loginData.humanAdvisorId" class="action-button" routerLink="/become-advisor" routerLinkActive="active">BECOME ADVISOR</div>
                <div class="pull-right">
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item routerLink="/change-password"> Change password </button>
                        <button mat-menu-item routerLink="/manage-api"> Manage API </button>
                        <button mat-menu-item (click)="logout()"> Logout </button>
                    </mat-menu>
                    <div class="user-menu-item" [matMenuTriggerFor]="appMenu">
                        {{getUsernameFirstLetter()}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!loginData">
            <div class="menu" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="space-around center">
                <a href="https://auctus.org" target="_blank">WHAT IS AUCTUS?</a>
                <a href="mailto:contact@auctus.org">CONTACT US</a>
                <a routerLink="/login" routerLinkActive="active">LOGIN</a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>