


.advisor-price {
  max-width: 360px;
  width: calc(100% - 80px);
  padding: 24px;
  background-color: #f3f5f8;
  margin: 40px;
}

.inside-step-subtitle {
  max-width: 440px;
  font-size: 14px;
  line-height: 1.71;
  color: #55606e;
  text-align:center;
  margin:24px;
}

.add-portfolio {
  padding-top:20px;
}
